.filters_row {
	margin-bottom:20px;
}

.flex_50 {
	flex-basis: 50%;
}
.result_container {
	gap:15px;
}

.filter_result {
	background: #fd0d51;
	color: #fff;
	padding: 15px 55px 15px 20px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	position: relative;
}
.result_close {
    background: #ca0b41;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 1;
    cursor:pointer;
    margin-left: 10px;
    position: absolute;
    right: 5px;
}

#select_country {
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    box-shadow: 0 5px 15px rgb(34 34 34 / 10%);
}

#select_country::-webkit-scrollbar-track {width: 5px;background-color: #eee;right:5px;}
#select_country::-webkit-scrollbar {height: 5px;width: 5px;}
#select_country::-webkit-scrollbar-thumb {background-color: #222;border-radius:5px;}

summary {
  font-size:16px;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    background: #eee;
    font-size: 14px;
    font-weight: 700;
}

details[open] summary {
	margin-top: 0;
	margin-bottom: 10px;	
}

details[open] {
    max-width: 100% !important;
    width: 100% !important;
    background: #f5f5f5;
    border-radius: 30px;
    padding: 20px;
	margin: 10px 0;
    animation: sweep .5s ease-in-out;
}

details[open] summary ~ * {
	padding-left:10px;
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}